html, body {
    height: 100%;
    width: 100%;
    background-color:#4169e1;
  }
  p{
    color:white;
    font-size:time new roman;
    
  }
  contact.html{
    background-color:#4169e1;
    color: black;
    font-family:sans-serif;
    }