*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 3opx;
}
[class="item-"]{
    display: grid;
    place-items: center;
    padding: 10px;
    box-shadow: 5px;
    color: #fff;
}
body{
    background-color: darkred;
    height: 100vh;
}
.grid-container{
    display:grid;

}
.grid{
    height: 90vh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6);
}
.item 1{
    background-color:blue;
    padding:2em;
}
.item 2{
    background-color:green;
    padding:2em;
}
.item 3{
    background-color: black;
    padding:2em;
}
.item 4{
    background-color:red;
    padding:2em;
}
.item 5{
    background-color: teal;
    padding:2em;
}
